.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  position: relative;
  background-color: #0b9696;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}
.buttonContainer {
  text-align: right;
  padding: 1rem;
}
button:hover {
  background-color: whitesmoke;
  border: #0d7ce4 solid 1px;
  color: #053705;
}

.card {
  text-align: center;
  border: grey solid 1px;
  padding: 1rem;
  width: 30 rem;
  height: auto;
  display: inline-grid;
  margin: 1rem 2rem;
  box-shadow: 3px 4px #0c212bf8;
  font-size: 25px;
}

.card:hover{
  color:#070707;
  border-color:#f8f1f1;
  background-color: rgb(201, 195, 189);
}
